* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/*===================== UTILITY =====================*/

.box-shadow {
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}

/*===================== JS =====================*/

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.js-focus-visible .focus-visible {
    outline: 2px dotted white;
}

.destination-img.js-loaded-img {
    transform: scale(1);
}

.js-nav-open nav {
    visibility: visible;
    transform: scaleY(1);
    transition-delay: 0s;
}

.js-nav-open .nav-list {
    opacity:  1;
    transition: opacity 150ms 150ms;
}

.js-bg-transparent {
    background-color: transparent;
    transition: background-color 300ms 300ms;
}

.js-slide-in {
    transform: translate(0);
    opacity: 1;
}

/*===================== TEXT =====================*/

h1 {
    max-width: 90%;
    padding: 1rem 2rem;
    background-color: hsla(0, 0%, 0%, .5);
    border-radius: 30px;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    opacity: .1;
    transform: translateY(50%);
    transition: transform 1000ms ease-out,
                opacity 500ms ease-in;
}

h1 span {
    color: mediumaquamarine;
}

h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

p {
    line-height: 1.4;
}

.destination-title {
    margin: 0;
}

.destination-info {
    margin-bottom: 1.5em;
}

/*===================== IMAGE =====================*/

.logo-link img {
    max-width: 2em;
    max-height: 2em; /* needed for older browsers */
    border: 1px solid black;
    border-radius: 50%;
}

.destination-img-container {
    max-width: 80%;
    align-self: center;
}

.destination-img {
    width: 100%;
    transform: scale(0);
    transition: transform 600ms ease-out;
}

/*===================== LINK =====================*/

.logo-link {
    display: flex;
    margin-right: 1em;
}

.nav-link {
    color: white;
    font-variant: small-caps;
    text-decoration: none;
}

.nav-link:hover {
    color: mediumaquamarine;
}

.current-link {
    border-bottom: 3px solid mediumaquamarine;
}

/*===================== BUTTON =====================*/

.toggle-nav {
    height: 1.47em; /* = 2.5rem */
    margin-left: auto;
    background-color: transparent;
    border: 0;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
}

/*===================== CONTAINER =====================*/

body > * {
    min-width: 16em;
}

.container {
    max-width: 60em;
    margin: 0 auto;
}

/* needed so that we scroll exactly to the beginning of the section */
.intro-section,
.history-section,
.destinations-section {
    padding-top: 3.5em; /* = .toggle-nav height + .header-content padding */
    margin-top: -3.5em;
}

.intro-content,
.history-content,
.destinations-content {
    padding: 1em 1em 2em;
}

header {
    position: fixed;
    z-index: 200;
    width: 100%;

    /* needed because it is pushed up due to the negative margin in intro-section */
    margin-top: 3.5em;

    background-color: #212121;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

nav {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1em 1em 0;
    background-color: #212121;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease-out,
                visibility 0s 300ms;
}

.nav-list {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    opacity: 0;
    transition: opacity 100ms;
}

.nav-item {
    margin-bottom: 1.5em;
}

/* needs to appear on top of history section so that it overlaps the
extra space created by the negative,positive padding,margin combo in
the history section */
.intro-section {
    position: relative;
    z-index: 100;
    background-color: black;
    background-size: cover;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

/* needs to be stacked above destinations section so that it overlaps the
extra space created by the negative,positive padding,margin combo in
the destinations section.
It also needs to be stacked under intro section, see the relevant comment there */
.history-section {
    position: relative;
    z-index: 99;
    background-color: ghostwhite;
}

.history-content > * + * {
    margin-bottom: 1.5em;
}

/* needs to be stacked under history section so the extra space created by
the negative,positive padding,margin combo is overlaped by the history section */
.destinations-section {
    position: relative;
    z-index: 98;
}

.destination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination:not(:last-child) {
    margin-bottom: 3em;
}

@media screen and (max-width: 45em) {
    .intro-section {
        background-image: url(../img/nasa_744.jpg);
    }
}

/*************************************** HIGH RES ***************************************/

@media screen and (min-width: 45em) {

    /*===================== JS =====================*/

    .destination-body.js-slide-in {
        opacity: 1;
        transform: translateX(0);
    }

    /*===================== TEXT =====================*/

    h1 {
        max-width: 60%;
        font-size: 3rem;
        text-align: left;
    }

    /*===================== IMAGE =====================*/

    .destination-img-container {
        align-self: center;
    }

    /*===================== BUTTON =====================*/

    .toggle-nav {
        display: none;
    }

    /*===================== CONTAINER =====================*/

    /* needed because it is pushed up due to negative margin in intro-section */
    header {
        margin-top: 4em;
    }

    nav {
        visibility: visible;
        position: static;
        padding: 0;
        margin-right: auto;
        background-color: inherit;
        transform: scale(1);
    }

    .nav-list {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .nav-item {
        margin: 0 1em;
    }

    .intro-section {
        background-image: url(../img/nasa_1702.jpg);
    }

    /* needed so that we scroll exactly to start of the section */
    .intro-section,
    .history-section,
    .destinations-section {
        padding-top: 4em;
        margin-top: -4em;
    }

    .header-content {
        padding: 1em 2em 1em;
    }
    
    .intro-content,
    .history-content,
    .destinations-content {
        padding: 1em 2em 2em;
    }

    .intro-content {
        align-items: flex-end;
    }

    .destination {
        flex-direction: row;
    }

    .destination > * {
        max-width: 45%;
    }

    .destination-body {
        transform: translateX(-50%);
        opacity: 0;
        transition: transform 600ms ease-out,
                    opacity 400ms ease-in;
    }
}

/*************************************** NO ANIMATIONS ***************************************/

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      transition-delay: 0ms !important;
      scroll-behavior: auto !important;
    }
}
