* {
    box-sizing: border-box;
}

html {
    --nav-button-height: 2.5rem;
    --header-padding: .5rem;
    --offset: calc(var(--nav-button-height) + 2 * var(--header-padding));
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/*===================== UTILITY =====================*/

.box-shadow {
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}

/*===================== JS =====================*/

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.js-focus-visible .focus-visible {
    outline: 2px dotted white;
}

@supports selector(:focus-visible) {
    :focus:not(:focus-visible) {
        outline: none;
    }

    :focus-visible {
        outline: 2px dotted white;
    }
}

.js-loaded-img.destination-img {
    transform: scale(1);
}

.js-nav-open .nav-list {
    visibility: visible;
    transform: scaleY(1);
    transition: transform 300ms;
}

.js-nav-open .nav-link {
    opacity: 1;
    transition: opacity 200ms ease-in 100ms;  
}

.js-bg-transparent {
    background-color: transparent;
    transition: background-color 300ms ease-in-out 300ms;
}

.js-slide-in {
    transform: translate(0);
    opacity: 1;
}

/*===================== TEXT =====================*/

h1 {
    max-width: 90%;
    padding: 0.4em 0.8em;
    background-color: hsla(0, 0%, 0%, .5);
    border-radius: 30px;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    opacity: .02;
    transform: translateY(50%);
    transition: transform 1000ms ease-out,
                opacity 500ms ease-in;
}

h1 span {
    color: mediumaquamarine;
}

h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

p {
    line-height: 1.4;
}

.destination-title {
    margin: 0;
}

.destination-info {
    margin-bottom: 1.5em;
}

/*===================== IMAGE =====================*/

.logo-link img {
    max-width: 2rem;
    max-height: 2rem; /* needed for older browsers */
    border: 1px solid black;
    border-radius: 50%;
}

.destination-img-container {
    max-width: 80%;
    align-self: center;
}

.destination-img {
    width: 100%;
    transform: scale(0);
    transition: transform 600ms ease-out;
}

/*===================== LINK =====================*/

.logo-link {
    display: flex;
    margin-right: 1em;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    font-variant: small-caps;
    text-decoration: none;
    opacity: 0;
    transition: opacity 100ms ease-out;
}

.nav-link:hover {
    color: mediumaquamarine;
}

.current-link {
    border-bottom: 3px solid mediumaquamarine;
}

/*===================== BUTTON =====================*/

.toggle-nav {
    height: var(--nav-button-height);
    margin-left: auto;
    background-color: transparent;
    border: 0;
    font-size: calc(var(--nav-button-height) * 0.7);
    color: white;
    cursor: pointer;
}

/*===================== CONTAINER =====================*/

body > header,
body > section,
body > main {
    min-width: 16rem;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

/* needed so that we scroll exactly to the start of each section */
.intro-section,
.history-section,
.destinations-section {
    padding-top: var(--offset);
    margin-top: calc(-1 * var(--offset));
}

.intro-content,
.history-content,
.destinations-content {
    padding: 1em 1em 2em;
}

header {
    position: fixed;
    z-index: 200;
    width: 100%;
    margin-top: var(--offset);
    background-color: #212121;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding) 1em;
}

.nav-list {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 1em 1em 0;
    background-color: #212121;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease-out,
                visibility 300ms;
    list-style: none;
}

.nav-item {
    margin-bottom: 1.5em;
}

/* must appear above history section so that it hides the
extra space created by the padding,margin in that section */
.intro-section {
    position: relative;
    z-index: 100;
    background-color: black;
    background-size: cover;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

/* must appear above destinations section so that it hides the
extra space created by the padding,margin in that section.
Also, it must appear under intro section */
.history-section {
    position: relative;
    z-index: 99;
    background-color: ghostwhite;
}

.history-event {
    margin-bottom: 2em;
}

/* must appear under history section so the extra space created by its
padding,margin is hidden by that section */
.destinations-section {
    position: relative;
    z-index: 98;
}

.destination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination:not(:last-child) {
    margin-bottom: 3em;
}

@media screen and (max-width: 45em) {
    .intro-section {
        background-image: url(../img/nasa_744.jpg);
    }
}

/*************************************** HIGH RES ***************************************/

@media screen and (min-width: 45em) {

    html {
        --nav-button-height: 2rem; /* note: button is hidden */
        --header-padding: 1rem;
    }

    /*===================== JS =====================*/

    .destination-body.js-slide-in {
        opacity: 1;
        transform: translateX(0);
    }

    /*===================== TEXT =====================*/

    h1 {
        max-width: 60%;
        font-size: 3rem;
        text-align: left;
    }

    /*===================== IMAGE =====================*/

    .destination-img-container {
        align-self: center;
    }

    /*===================== BUTTON =====================*/

    .toggle-nav {
        display: none;
    }

    /*===================== LINK =====================*/

    .nav-link {
        opacity: 1;
    }

    /*===================== CONTAINER =====================*/

    .header-content {
        justify-content: flex-start;
    }

    .nav-list {
        flex-direction: row;
        visibility: visible;
        position: initial;
        padding: 0;
        background-color: transparent;
        transform: scaleY(1);
    }

    .nav-item {
        margin: 0 1em;
    }

    .intro-section {
        background-image: url(../img/nasa_1702.jpg);
    }

    .intro-content,
    .history-content,
    .destinations-content {
        padding: 1em 2em 2em;
    }

    .intro-content {
        align-items: flex-end;
    }

    .destination {
        flex-direction: row;
    }

    .destination > .destination-body,
    .destination > .destination-img-container {
        max-width: 45%;
    }

    .destination-body {
        transform: translateX(-50%);
        opacity: 0;
        transition: transform 600ms ease-out,
                    opacity 400ms ease-in;
    }
}

/*************************************** NO ANIMATIONS ***************************************/

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      transition-delay: 0ms !important;
      scroll-behavior: auto !important;
    }
}
