* {
    box-sizing: border-box;
    scroll-margin-top: 2.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/*===================== JS =====================*/

.scrolled {
    background-color: #212121;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}

.scrolled > .container {
    padding-top: .5em;
    padding-bottom: .5em;
}

/*===================== TEXT =====================*/

h1 {
    max-width: 90%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

h1 span {
    color: mediumaquamarine;
}

h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

p {
    line-height: 1.4;
}

.gallery-item-title {
    margin: 0;
}

.gallery-item-text {
    margin-bottom: 1.5em;
}

/*===================== IMAGE =====================*/

.logo-link img {
    max-width: 2rem;
    border: 1px solid black;
    border-radius: 50%;
}

.gallery-img {
    width: 100%;
}

/*===================== LINK =====================*/

.logo-link {
    display: flex;
    margin-right: 1em;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    font-variant: small-caps;
    text-decoration: none;
}

.nav-link:focus,
.nav-link:hover {
    border-bottom: 2px solid mediumaquamarine;
}

/*===================== CONTAINER =====================*/

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.header-container {
    padding: 1em;
}

.intro-container,
.history-container,
.gallery-container {
    padding: 1em 1em 2em;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    transition: background-color 200ms;
}

.header-content {
    display: flex;
    align-items: center;
    transition: padding 400ms;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.nav-item {
    margin: 0 1em;
}

.intro-section {
    background-color: rgb(23, 25, 129);
    background-image: url(img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
}

.intro-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.history-section {
    background-color: ghostwhite;
}

.history-section-content > * + * {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-item:not(:last-child) {
    margin-bottom: 3em;
}

.gallery-img-container {
    order: 1;
    max-width: 80%;
    align-self: center;
}

@media screen and (min-width: 42em) {
    html {
        font-size: 110%;
    }

    h1 {
        max-width: 60%;
        font-size: 3rem;
        text-align: left;
    }

    .header-container {
        padding: 1em 2em 1em;
    }
    
    .intro-container,
    .history-container,
    .gallery-container {
        padding: 1em 2em 2em;
    }

    .intro-section-content {
        align-items: flex-end;
    }

    .gallery-item {
        flex-direction: row;
    }

    .gallery-item > * {
        max-width: 45%;
    }

    .gallery-img-container {
        order: initial;
        align-self: center;
    }
}