* {
    box-sizing: border-box;
    scroll-margin-top: 2.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/*===================== JS =====================*/

.intro-header {
    background-color: transparent;
    box-shadow: none;
}

.destinations-img.loaded-img {
    transform: scale(1);
}

/*===================== TEXT =====================*/

h1 {
    max-width: 90%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

h1 span {
    color: mediumaquamarine;
}

h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

p {
    line-height: 1.4;
}

.planet-title {
    margin: 0;
}

.planet-info {
    margin-bottom: 1.5em;
}

/*===================== IMAGE =====================*/

.logo-link img {
    max-width: 2rem;
    max-height: 2rem; /* needed for older browsers */
    border: 1px solid black;
    border-radius: 50%;
}

.destinations-img {
    width: 100%;
    transform: scale(0);
    transition: transform 500ms ease-out;
}

/*===================== LINK =====================*/

.logo-link {
    display: flex;
    margin-right: 1em;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
    font-variant: small-caps;
    text-decoration: none;
}

.nav-link:focus,
.nav-link:hover {
    color: mediumaquamarine;
}

.current-link {
    border-bottom: 3px solid mediumaquamarine;
}

/*===================== CONTAINER =====================*/

.container {
    max-width: 60rem;
    margin: 0 auto;
}

.intro-content,
.history-content,
.destinations-content {
    padding: 1em 1em 2em;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #212121;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
    transition: background-color 200ms;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    transition: padding 400ms;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.nav-item {
    margin: 0 1em;
}

.intro-section {
    background-color: rgb(23, 25, 129);
    background-image: url(img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.history-section {
    background-color: ghostwhite;
}

.history-content > * + * {
    margin-bottom: 1.5em;
}

.destinations-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destinations-item:not(:last-child) {
    margin-bottom: 3em;
}

.planet-img-container {
    max-width: 80%;
    height: 100%; /* needed for older browsers */
    align-self: center;
}

/*************************************** HIGH RES ***************************************/

@media screen and (min-width: 42em) {
    html {
        font-size: 110%;
    }

    /*===================== JS =====================*/

    .planet-body.slide-in {
        opacity: 1;
        transform: translateX(0);
    }

    /*===================== TEXT =====================*/

    h1 {
        max-width: 60%;
        font-size: 3rem;
        text-align: left;
    }

    /*===================== CONTAINER =====================*/

    .header-content {
        padding: 1em 2em 1em;
    }
    
    .intro-content,
    .history-content,
    .destinations-content {
        padding: 1em 2em 2em;
    }

    .intro-content {
        align-items: flex-end;
    }

    .destinations-item {
        flex-direction: row;
    }

    .destinations-item > * {
        max-width: 45%;
    }

    .planet-img-container {
        align-self: center;
    }

    .planet-body {
        transform: translateX(-50%);
        opacity: 0;
        transition: transform 400ms ease-out,
                    opacity 400ms ease-in;
    }
}

/*************************************** NO ANIMATIONS ***************************************/

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }

    header {
        background-color: #212121 !important;
        box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75) !important;
    }
}
